.acre_div {

	height: initial;

	.topCategory {
		margin-left: 20px;
	}
	.btn-theme {
		border-radius: 5vh;
		border: 3px solid $brand-tan--dark;
		color: $brand-tan--dark;
		background: $brand-tan--light;
		margin-left: 1rem;
	}
	.btn-theme-selected {
		background: $brand-tan--dark;
		color: $brand-tan--light;
	}
}

.bar-graph {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	font-size: xx-large;
}

.bar {
	background-color: darken($brand-orange, 6.5%);
	border-radius: $font-size--xs;
	display: inline-block;
	transition: width 1s;
}
