// colors
$font-color--dark:    #424242;
$font-color--light:   #fff;
$background--light:   #eee;
$background--dark:    #222;
$blue:                #1f8de2;
$green:               #1BA428;
$red:                 #e21f3f;
$orange:              #F3A536;

$brand-green:         #67A93C;
$brand-green--dark:   #33872B;
$brand-orange:        #FFA45E;
$brand-orange--dark:  #F58A38;
$brand-tan--light:    #F8F7F3;
$brand-tan:           #E4DFCF;
$brand-tan--dark:     #837959;

// spacing
$full-space: 40px;
$half-space: 20px;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;
