@import 'vars';
@import 'foundation';
@import 'keyframes';
@import 'scaffolding';
@import 'layout';
@import 'header';
@import 'typography';
@import 'navbar';
@import 'choropleth';
@import 'footer';
@import 'modal';

.animate-switch-container {
  position:relative;
  background:white;
  border:1px solid black;
  height:40px;
  overflow:hidden;
}

.animate-switch {
  padding:10px;
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top:0;
}

body {
  font-family: 'Roboto Slab', serif;
  color: $font-color--dark;
  background-color: #fff;
  padding: $half-space;
  padding-top: 160px;
}

.fa-rotate-225 {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
