<div class="container">
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <em>List overlay button here</em>
    </div>
    <section id="choropleth-map" class="choropleth">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <img src="assets/images/placeholder-map.png" alt="temporary map" height="300" />
        <p>
          <em>placeholder map</em>
        </p>
      </div>
    </section>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <p>
        <em>map controls</em>
      </p>
    </div>
  </div>
</div>
