<div class="container">
  <h1>Top Commodities by Acre</h1>
  <h2>Current Selection: {{ selection }}</h2>

  <div class="row">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Region</th>
        <th>Commodity</th>
        <th>Acres</th>
      </tr>
      <!-- harvestedAcres.data.data is an array of objects, where each object item has properties 'region', 'commodity', and 'harvested_acres' -->
      <tr ng-repeat="item in harvestedAcres.data.data | orderBy:'-harvested_acres' | limitTo: 5">
        <td>{{item.region}}</td>
        <td>{{item.commodity}}</td>
        <td>{{item.harvested_acres}}</td>
      </tr>
    </table>
  </div>
</div>
