<div class="container">
  	  <h2 class="text-center bluefont">Crop Compass Data Explanations</h2>
		  <div class="container">
			  <div class="row">
			  	<div class="col-sm-3">
			      <h3>Map:</h3>
			      <h4>Land Capability</h4>
			      <p>Land Capability Classification is a measure of the suitability of soils for field crops. The classification system was developed by the US Department of Agriculture to inform farm planning and soil management.</p><p>Soil is divided into eight capability classes, ranging from Class 1 (soils have slight limitations that restrict agricultural use) to Class 8 (soils or area are unsuitable for agriculture). With proper management, soils in classes 1-4 can be utilized to grow crops with long-term productivity, while soils in classes 4-8 are not suitable for commercial crop production and are best used for pasture, forestland, or non-agricultural uses.</p><p>Soils are classified for both irrigated and non-irrigated agriculture; the "Land Capability" map on crop compass shows the soil classification for Oregon land suitable for growing commercial crops with irrigation. See [UDEL] for more information about each class.</p>
					<p>Data source: [LCC]</p>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/michaelbunsen.jpeg" alt="Michael Bunsen" />
			      <h4>Michael Bunsen &mdash; Facilitator and Lead Data Scientist</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/alexreid.jpeg" alt="Alex Reid" />
			      <h4>Alex Reid &mdash; Data Scientist and Back End Team Lead</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/joedickinson.jpeg" alt="Joe Dickinson" />
			      <h4>Joe Dickinson &mdash; GIS Expert</h4>
			    </div>
		    </div>
        <hr>
			  <div class="row">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/heidiperry.jpeg" alt="Heidi Perry" />
			      <h4>Heidi Perry &mdash; Data Scientist and Researcher</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/peterusso.jpeg" alt="Peter Russo" />
			      <h4>Peter Russo &mdash; Product Designer</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/davidzulaica.jpeg" alt="David Zulaica" />
			      <h4>David Zulaica &mdash; Visual Designer and Front End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/AngelaRiggs.jpeg" alt="Angela Riggs" />
			      <h4>Angela Riggs &mdash; Front End Developer</h4>
		      </div>
		    </div>
        <hr>
			  <div class="row">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/JeffLalic.jpeg" alt="Jeff Lalic" />
			      <h4>Jeff Lalic &mdash; Front End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/chasereckling.jpeg" alt="Chase Reckling" />
			      <h4>Chase Reckling &mdash; Front End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/EdBorasky.jpeg" alt="Ed Borasky" />
			      <h4>Ed Borasky &mdash; Mather, Modeler and Researcher</h4>
			    </div>
		    </div>
		    	  <h2 class="text-center grayfont">Unpictured Team Members</h2>
	  			<div class="text-center">
	  			  <h4>Paul Fredrickson &mdash; Front End Team Lead</h4>
	  			 </div>
      </div>
    </div>
