<div class="container">
  	  <h2 class="text-center bluefont">Crop Compass Data Explanations</h2>
		  <div class="container">
			  <div class="row">
			  	<div class="col-sm-3">
			      <h3>Map:</h3>
			      <h4>Land Capability</h4>
			      <p>Land Capability Classification is a measure of the suitability of soils for field crops. The classification system was developed by the US Department of Agriculture to inform farm planning and soil management.</p>
			      <p>Soil is divided into eight capability classes, ranging from Class 1 (soils have slight limitations that restrict agricultural use) to Class 8 (soils or area are unsuitable for agriculture). With proper management, soils in classes 1-4 can be utilized to grow crops with long-term productivity, while soils in classes 4-8 are not suitable for commercial crop production and are best used for pasture, forestland, or non-agricultural uses.</p>
			      <p>Soils are classified for both irrigated and non-irrigated agriculture; the "Land Capability" map on crop compass shows the soil classification for Oregon land suitable for growing commercial crops with irrigation. See [UDEL] for more information about each class.</p>
					<p>Data source: [LCC]</p>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <h3>Top Commodities:</h3>
			          <p>Choose "# Acres" or "# Animals" to view the top crops by area of land harvested or top livestock raised by number of animals, for the state (default) or selected county.</p>
			          <p>Data source: [NASS], AgCensus, year 2012</p>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <h3>County Rankings:</h3>
			      <p>In the donut charts, the value of the measure is shown inside the circle. The filled-in proportion of the circle shows the county's value relative to the largest value from all counties.</p>
			      <p>The donut charts visualize the following measures:</p>
			          <h4>Effective number of crops</h4>
        <p>A measure of crop diversity in a county that takes into account not just the number of crops grown, but also the proportion of land for each crop. If most of the farmland is a monoculture, than the effective number of crops will be one. Higher numbers indicate more diversity of crops planted on the farmed land in the selected region. See reference for defintion.</p>
        <p>Data source: [NASS], AgCensus, year 2012</p>
        <p>Reference: Aguilar</p>


    <h4>Farmed Land</h4>
        <p>Proportion of regional land under agricultural use.</p>
        <p>Data source: [NASS], AgCensus, year 2012</p>
    

    <h4>Revenue</h4>
    	<p> Total revenue from sales of agricultural commodities tracked by Oregon Agriculture Information Network.</p>
        <p>Data source: [OAIN], year 2012</p>


    <h4>Average Annual Precipitation</h4>
        <p>Average annual precipitation for the selected region over the years 1981-2010. </p>
        <p>Data source: [Climate]</p>


    <h4>Growing Degree Days</h4>
        <p>Growing degree days are a measure of agricultural output based primarily on the mean daily temperature. Over the year, growing degree days accumulate for each day the mean temperature is over 50 degrees Fahrenheit. For example, if the mean temperature on a day is 53 degrees Fahrenheit, that day contributes 53 - 50 = 3 growing degree days to the annual total. Crop Compass shows the average annual growing degrees days for the selected regions over the years 1981-2010.</p>
        <p>Data source: [Climate]</p>
        <p>Reference: [NOAA]</p>


    <h4>Subsidies</h4>
       <p>Dollar amount of subsidies recieved by farmers in the selected region for the selected crop. </p>
        <p>Data source: [Subsidies], year 2012</p>


    

			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <h3>Number of Farms:</h3>
			      <p> The number of farms growing the selected crop compared to the total number of farms in the selected region. </p>
			      <p>Data source: [NASS]</p>
			    </div>
		    </div>
        <hr>
			  <div class="row">
			    <div class="col-sm-3">
			      <h3>Production over Time:</h3>
			      <p> Production of selected commoditiy in selected region for each year over all time available. </p>
			      <p> Data source: [OAIN]</p>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <h3>Data Sources:</h3>
    <ul>
    <li>Climate: http://www.ncdc.noaa.gov/cdo-web/ (downloaded October 21, 2015)</li>
    <li>CropScape: http://nassgeodata.gmu.edu/CropScape/ (downloaded September 23).</li>
    <li>LCC: http://spatialdata.oregonexplorer.info/geoportal/catalog/search/resource/details.page?uuid=%7b6DCF40D8-6B89-4D69-BDD1-EDEC941C4D72%7d (downloaded September 23)</li>
    <li>NASS: National Agriculture Statistics Service Quickstats, http://quickstats.nass.usda.gov/ (downloaded September 3, 2015)</li>
    <li>OAIN: http://oain.oregonstate.edu/ (downloaded August 23, 2015)</li>
    <li>Subsidies: http://farm.ewg.org/region.php?fips=41000" (downloaded August 27, 2015)</li>
    </ul>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <h3>References:</h3>
			      <ul>
    <li>Aguilar: Aguilar J, Gramig GG, Hendrickson JR, Archer DW, Forcella F, Liebig MA (2015) "Crop Species Diversity Changes in the United States: 1978-2012". PLoS ONE 10(8): e0136580. doi:10.1371/journal.pone.0136580</li>
    <li>UDEL: http://www.udel.edu/FREC/spatlab/oldpix/nrcssoilde/Descriptions/landcap.htm</li>
    <li>NOAA: http://www1.ncdc.noaa.gov/pub/data/normals/1981-2010/documentation/temperature-methodology.pdf </li>
			      
			      </ul>
			    </div>
			    <hr class="visible-xs-block">	
		    </div>
      </div>
    </div>
