<div class="container">
  	  <h2 class="text-center bluefont">The Team</h2>
		  <div class="container">
			  <div class="row">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/catnikolovski.jpeg" alt="Catherine Nikolovski" />
			      <h4>Cat Nikolovski &mdash; Producer</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/michaelbunsen.jpeg" alt="Michael Bunsen" />
			      <h4>Michael Bunsen &mdash; Facilitator and Lead Data Scientist</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/alexreid.jpeg" alt="Alex Reid" />
			      <h4>Alex Reid &mdash; Data Scientist and Back End Team Lead</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/joedickinson.jpeg" alt="Joe Dickinson" />
			      <h4>Joe Dickinson &mdash; GIS Expert</h4>
			    </div>
		    </div>
        <hr>
			  <div class="row">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/heidiperry.jpeg" alt="Heidi Perry" />
			      <h4>Heidi Perry &mdash; Data Scientist and Researcher</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/peterusso.jpeg" alt="Peter Russo" />
			      <h4>Peter Russo &mdash; Product Designer</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/davidzulaica.jpeg" alt="David Zulaica" />
			      <h4>David Zulaica &mdash; Visual Designer and Front End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/AngelaRiggs.jpeg" alt="Angela Riggs" />
			      <h4>Angela Riggs &mdash; Front End Developer</h4>
		      </div>
		    </div>
        <hr>
			  <div class="row">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/JeffLalic.jpeg" alt="Jeff Lalic" />
			      <h4>Jeff Lalic &mdash; Front End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/chasereckling.jpeg" alt="Chase Reckling" />
			      <h4>Chase Reckling &mdash; Front End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="/assets/images/team/EdBorasky.jpeg" alt="Ed Borasky" />
			      <h4>Ed Borasky &mdash; Mather, Modeler and Researcher</h4>
			    </div>
		    </div>
		    	  <h2 class="text-center grayfont">Unpictured Team Members</h2>
	  			<div class="text-center">
	  			  <h4>Paul Fredrickson &mdash; Front End Team Lead</h4>
	  			 </div>
      </div>
    </div>
