<!DOCTYPE html>
<html ng-app="cropApp" lang="en-US">
<head>
	<title>Hack Oregon | Ag &amp; Tech</title>
</head>
<body>
<div class="container">
  	  <h2 class="text-center bluefont">The Team</h2>
		  <div class="container">
			  <div class="row">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/catnikolovski.jpeg" alt="Catherine Nikolovski" />
			      <h4>Cat Nikolovski &mdash; Producer</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/kylejoeckin.jpeg" alt="Kyle Joeckin" />
			      <h4>Kyle Joecken &mdash; Facilitator and Lead Data Scientist</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/andrewparnell.jpeg" alt="Andrew Parnell" />
			      <h4>Andrew Parnell &mdash; Product Designer</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/amandameyer.jpeg" alt="Amanda Meyer" />
			      <h4>Amanda Meyer &mdash; Visual Designer</h4>
			    </div>
		    </div>
        <hr>
			  <div class="row">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/bryantsyme.jpeg" alt="Bryant Syme" />
			      <h4>Bryant Syme &mdash; Data Visualizer</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/merrittlawrenson.jpeg" alt="Merritt Lawrenson" />
			      <h4>Merritt Lawrenson &mdash; Front End Team Lead</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/mikeybedney.jpeg" alt="Mikey Bedney" />
			      <h4>Mikey Bedney &mdash; Front End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/gabefinch.jpeg" alt="Gabe Finch" />
			      <h4>Gabe Finch &mdash; Front End Developer</h4>
		      </div>
		    </div>
        <hr>
			  <div class="row">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/davidgarber.jpeg" alt="David Garber" />
			      <h4>David Garber &mdash; Front End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/chrisvonsee.jpeg" alt="Chris Von See" />
			      <h4>Chris Von See &mdash; Back End Team Lead</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/aaroncampf.jpeg" alt="Aaron Campf" />
			      <h4>Aaron Campf &mdash; Back End Developer</h4>
			    </div>
			    <hr class="visible-xs-block">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/sandeshadhikary.jpeg" alt="Sandesh Adhikary" />
			      <h4>Sandesh Adhikary &mdash; Storyteller and Data Scientist</h4>
			    </div>
		    </div>
        <hr>
			  <div class="row">
			  	<div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/kristenwolff.jpeg" alt="Kristen Wolff" />
			      <h4>Kristen Wolff &mdash; Storytelling Team Lead</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/christopherlu.jpeg" alt="Christopher Lu" />
			      <h4>Christopher Lu &mdash; Storyteller</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" src="../img/team/christovu.jpeg" alt="Christovu" />
			      <h4>Cr&igrave;st&ocirc;V&#366; &mdash; Storyteller</h4>
			    </div>
			    <hr class="visible-xs-block">
			    <div class="col-sm-3">
			      <img class="img-responsive" style="margin-top: 90px" src="../img/team/invisible-man.jpg" alt="Invisible man" />
			      <h4>Sanjuro Jogdeo &mdash; Data Scientist</h4>
			    </div>
		    </div>
      </div>
    </div>

</body>
</html>