p {
  margin-bottom: 1em; }

.heading {
  margin-bottom: 0.618em; }
  .heading.-large, h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px; }
  .heading.-medium, h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px; }
  .heading.-small, h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px; }
  .heading.-smallest {
    font-size: 10px;
    font-weight: bold; }

h1 {
  color: red; }

.choropleth {
  text-align: center; }

.navbar-default {
  background-color: #fff;
  border-bottom: 3px solid #AAAAAA;
  -webkit-box-shadow: 0px 1px 1px #999;
  -moz-box-shadow: 0px 1px 1px #999;
  box-shadow: 0px 1px 1px #999; }

.navbar-header h1 {
  margin-left: 20px; }
  .navbar-header h1 span {
    font-size: 40px; }
  .navbar-header h1 .orange {
    color: #F3A536; }
  .navbar-header h1 .green {
    color: #1BA428; }

.navbar-right .dropdown {
  margin-top: 18px; }

.navbar .container {
  padding: 0; }
  .navbar .container ul {
    list-style-type: none; }
    .navbar .container ul h1 {
      font-size: 40px; }
    .navbar .container ul a {
      color: #424242; }
    .navbar .container ul a:hover {
      text-decoration: none; }
    .navbar .container ul a:link {
      text-decoration: none; }

.dropdown h1 {
  margin: 0;
  color: #424242; }

.dropdown .glyphicon-menu-down {
  font-size: 15px; }

.modal-header {
  margin: 0 30px;
  border: none; }
  .modal-header h1 {
    color: #1BA428; }
  .modal-header input {
    border: 4px solid #6B7E86;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    font-size: 20px; }
  .modal-header .search {
    position: relative; }
  .modal-header .search input {
    text-indent: 30px; }
  .modal-header .search .fa-search {
    position: absolute;
    top: 9px;
    left: 7px; }

.modal-body {
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  margin: 0 30px; }
  .modal-body h2 {
    font-size: 30px; }
  .modal-body ul {
    list-style-type: none;
    padding-top: 10px; }
  .modal-body .region-title {
    font-size: 30px; }
  .modal-body li {
    font-size: 20px; }
    .modal-body li a {
      color: #000; }
  .modal-body ul li ul {
    padding-left: 90px; }

.modal-window {
  overflow: auto !important;
  height: 600px; }

body {
  font-family: 'Roboto Slab', serif;
  color: #424242;
  background-color: #fff;
  padding: 20px;
  padding-top: 160px; }

.fa-rotate-225 {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg); }

i {
  display: inline-block;
  padding: 5px 18px;
  border: 4px solid #888;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888; }
