/*!
  * --------------------------------------------------------------------------
  * Foundation
  * --------------------------------------------------------------------------
  */
*::before, *::after, * {
  box-sizing: border-box;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }

html, body {
  margin: 0; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  line-height: 1.5em;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

/*!
  * --------------------------------------------------------------------------
  * Keyframes
  * --------------------------------------------------------------------------
  */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; } }
@keyframes fadeIn {
  from {
    opacity: 0; } }

/*!
  * --------------------------------------------------------------------------
  * Scaffolding
  * --------------------------------------------------------------------------
  */
html {
  overflow: hidden; }

header,
footer {
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 10; }

header {
  top: 0; }

footer {
  bottom: 0; }

main {
  margin: 10vh auto;
  height: 80vh;
  overflow: scroll; }

body {
  font-family: 'Roboto Slab', serif;
  color: #424242;
  background-color: #E4DFCF; }

main section:nth-of-type(even) {
  background: #F8F7F3; }

header {
  background-color: #F8F7F3;
  border-bottom: 1px solid #837959;
  text-align: center; }

header .container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left; }

header h1::before {
  content: ' ';
  display: inline-block;
  height: 10vh;
  width: 10vh;
  vertical-align: top;
  background: url("../images/carrot.svg"); }

header h1 {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 0 auto 0 0;
  font-size: 5vh;
  line-height: 1.825;
  text-align: left; }

.orange {
  color: #FFA45E; }

.green {
  color: #67A93C; }

header div {
  margin: 0 0 0 auto; }

header .btn {
  font-size: 4vh; }

header .btn-link {
  color: #424242; }

header .btn-link:hover,
header .btn-link:active,
header .btn-link:focus {
  text-decoration: none;
  color: #212121;
  outline: none;
  background: #fff;
  border-radius: 1rem; }

header i {
  display: inline-block;
  width: 6vh;
  height: 6vh;
  border: 4px solid #837959;
  border-radius: 60px; }

header i::before {
  line-height: 1.25; }

p {
  margin-bottom: 1em; }

.heading {
  margin-bottom: 0.618em; }
  .heading.-large, h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px; }
  .heading.-medium, h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px; }
  .heading.-small, h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px; }
  .heading.-smallest {
    font-size: 10px;
    font-weight: bold; }

h1 {
  color: red; }

.navbar-default {
  background-color: #fff;
  border-bottom: 3px solid #AAAAAA;
  box-shadow: 0px 1px 1px #999; }

.navbar-header h1 {
  margin-left: 20px; }
  .navbar-header h1 span {
    font-size: 40px; }
  .navbar-header h1 .orange {
    color: #F3A536; }
  .navbar-header h1 .green {
    color: #1BA428; }

.navbar-right .dropdown {
  margin-top: 18px; }

.navbar .container {
  padding: 0; }
  .navbar .container ul {
    list-style-type: none; }
    .navbar .container ul h1 {
      font-size: 40px; }
    .navbar .container ul a {
      color: #424242; }
    .navbar .container ul a:hover {
      text-decoration: none; }
    .navbar .container ul a:link {
      text-decoration: none; }

.dropdown h1 {
  margin: 0;
  color: #424242; }

.dropdown .glyphicon-menu-down {
  font-size: 15px; }

.choropleth {
  text-align: center; }

footer {
  background: #837959;
  color: #E4DFCF;
  border-top: 1px solid #F8F7F3; }

footer ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: inherit; }

footer ul li {
  width: 5rem; }

footer ul li:last-child {
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  text-align: right; }

footer a {
  color: #E4DFCF; }

footer a:hover,
footer a:active,
footer a:focus {
  text-decoration: none;
  border-bottom: 1px solid #F8F7F3;
  color: #F8F7F3; }

.modal-header {
  margin: 0 30px;
  border: none; }
  .modal-header h1 {
    color: #1BA428; }
  .modal-header input {
    border: 4px solid #6B7E86;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    font-size: 20px; }
  .modal-header .search {
    position: relative; }
  .modal-header .search input {
    text-indent: 30px; }
  .modal-header .search .fa-search {
    position: absolute;
    top: 9px;
    left: 7px; }

.modal-body {
  border: 1px solid #D3D3D3;
  border-radius: 8px;
  margin: 0 30px; }
  .modal-body h2 {
    font-size: 30px; }
  .modal-body ul {
    list-style-type: none;
    padding-top: 10px; }
  .modal-body .region-title {
    font-size: 30px; }
  .modal-body li {
    font-size: 20px; }
    .modal-body li a {
      color: #000; }
  .modal-body ul li ul {
    padding-left: 90px; }

.modal-window {
  overflow: auto !important;
  height: 600px; }

.fa-rotate-225 {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }
